<header class="pt-24">
  <div class="relative">
    <img class="animate-fade-in-up max-w-xl mx-auto" src="/favicon.svg" alt="Logo" />
    <img class="animate-fade-in-up absolute top-0 left-0 blur-sm w-full h-full" src="/favicon.svg" alt="Logo" />
  </div>
</header>

<style>

</style>