---
import SubscribeForm from "../newsletter/components/SubscribeForm.astro";
---

<main class="max-w-3xl mx-auto flex items-center justify-center px-4 py-20 flex-col gap-10">
  
  <p class="text-xl text-white/80 text-center text-balance">
    Ready to celebrate Christmas together again? Discover the new edition of this website and much more coming soon.
  </p>

  <h2 class="text-5xl font-normal text-white text-center">Do you want us to notify you?</h2>

  <SubscribeForm />
</main>